﻿@page "/"
@namespace LCARS.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LCARS</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./lcarsresources/LCARS.css">
    <link href="LCARS.styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script>


        jQuery(document).ready(function () {

            setInterval(function () {
                jQuery('#Time').text(GetTime());
                jQuery('#Date').text(GetDate());
            }, 1000);

        });

        function GetTime() {
            return moment().format('hh:mm:ss');
        }

       

        function GetDate() {
            return moment().format('dddd').toUpperCase() + ' | ' + moment().format('YYYY.MM.DD');
        }


        var sounds = [];
        var playing = false;

        window.PlayAudioFile = (src) => {

            if (src != null) {

                var sound = document.createElement('audio');
                sound.src = src;
                sound.type = 'audio/mpeg';

                sounds.push(sound);
  
            }
     
                if (sounds.length > 0 && !playing) {

                    var playSound = sounds[0];

                    // var appdendedNode = document.body.appendChild(playSound);

                    playSound.load();

                    playSound.onended = function () {  //after done playing

                        sounds.shift();
                        playing = false;  //allow next sound in queue to play
                        PlayAudioFile();  //play next sound, recursive call

                        //setTimeout(function () {

                        //    appdendedNode.remove();
                        //}, 10000);

                    };

                    console.log("Playing " + playSound.src);
                    console.log("Array size " + sounds.length);

                    playing = true;    //prevent next sound from playing immediatly
                    playSound.play();  //play sounds immediatly
                }
        }



    </script>
</body>
</html>


<!--var audio = new Audio('audio_file.mp3'); -->
<!--audio.play(); -->