﻿@page "/"


<div id="Clock">
    <span id="Time">00:00:00</span> <br />
    <span id="Date"> STANDBY | 0000.00.00 </span>
</div>

@code {


    public readonly string ControlName = "Room Controls";

    [CascadingParameter]
    public EventCallback<string> LCARSPageLoaded { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await LCARSPageLoaded.InvokeAsync(ControlName);
        }

    }

  

}
