﻿/*clock*/
#Clock {
    position: relative;
    left: 18px;
    top: 95px;
    color: rgb(74,115, 131);
}

#Time {
    line-height: 77px;
    font-size: 11.3em;
}

#Date {
    line-height: 61px;
    font-size: 3.4em;
    left: 3px;
    position: relative;
}