﻿@page "/HVACControls"
@using System.Diagnostics
@using System.Timers
@inject IJSRuntime js;

<div class="HVACControls">
    <div id="CurrentTemp">
        <LCARSDisplay Label="Current Temp" EntityName="sensor.living_room_temperature"  LabelFirst="false" ValueCSSClass="CurrentTempValue" LabelCSSClass="CurrentTempLabel"></LCARSDisplay>
    </div>

    <div id="HighTemp">
        <div class="ClimateLabel">
            <LCARSDisplay Label="Cool To" EntityName="climate.thermostat_climate_controller" EntityStateAttributeKey="target_temp_high" ValueUpdated="@HighTargetValueChanged"></LCARSDisplay>
        </div>

        <div id="HeatButtons" class="ClimateCommandGroup">
            <LcarsHACommandButton Label="UP" EntityName="climate.thermostat_climate_controller" HAService="@HomeAssistant.Service.SetTemp" EntityStateAttributeKey="target_temp_high" SendMessage="SetTargetTempHigh_Up"></LcarsHACommandButton>
            <LcarsHACommandButton Label="DN" EntityName="climate.thermostat_climate_controller" HAService="@HomeAssistant.Service.SetTemp" EntityStateAttributeKey="target_temp_high" SendMessage="SetTargetTempHigh_Down"></LcarsHACommandButton>
        </div>
    </div>
    

    <div id="LowTemp">
        <div class="ClimateLabel">
            <LCARSDisplay Label="Heat To" EntityName="climate.thermostat_climate_controller" EntityStateAttributeKey="target_temp_low" ValueUpdated="@LowTargetValueChanged"></LCARSDisplay>
        </div>
        <div id="CoolButtons" class="ClimateCommandGroup">
            <LcarsHACommandButton Label="UP" EntityName="climate.thermostat_climate_controller" HAService="@HomeAssistant.Service.SetTemp" EntityStateAttributeKey="target_temp_low" SendMessage="SetTargetTempLow_Up"></LcarsHACommandButton>
            <LcarsHACommandButton Label="DN" EntityName="climate.thermostat_climate_controller" HAService="@HomeAssistant.Service.SetTemp" EntityStateAttributeKey="target_temp_low" SendMessage="SetTargetTempLow_Down"></LcarsHACommandButton>
        </div>
    </div>

    <div id="SystemStatus">
        <LCARSDisplay Label="Sys.Status" EntityName="climate.thermostat_climate_controller" EntityStateAttributeKey="hvac_action"></LCARSDisplay>
    </div>
    <div id="CurrentHumidity">
        <LCARSDisplay Label="Humidity" EntityName="sensor.living_room_humidity"></LCARSDisplay>
    </div>
    <div id="SystemMode">
        <LCARSDisplay Label="Mode" EntityName="climate.thermostat_climate_controller"></LCARSDisplay>
    </div>



        @*LowTemp @LowTargetTemp*@

        @*<ClimateButton EntityName="climate.thermostat_climate_controller" HAService="@HomeAssistant.Service.SetTemp" EntityStateAttributeKey="target_temp_low" TargetValue="@LowTargetTemp" Label="Down" Direction="@Direction.Decrease"></ClimateButton>*@
</div>


@code {

    public readonly string ControlName = "Climate Controls";

    [CascadingParameter]
    public EventCallback<string> LCARSPageLoaded { get; set; }

    private int LowTargetTemp { get; set; }

    private int HighTargetTemp { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await LCARSPageLoaded.InvokeAsync(ControlName);

    }


    private async Task LowTargetValueChanged(string newValue)
    {
        Debug.WriteLine("EventHander newValue is " + newValue);

        int i = 0;
        string s = newValue;
        bool result = int.TryParse(s, out i);

        if (result)
        {
            LowTargetTemp = i;

        }
    }

    private async Task HighTargetValueChanged(string newValue)
    {
        int i = 0;
        string s = newValue;
        bool result = int.TryParse(s, out i);

        if (result)
            HighTargetTemp = i;
    }




    private async void SetTargetTempLow_Down(object? sender, MouseEventArgs e)
    {
        LcarsHACommandButton lcasrsCommandButton = (LcarsHACommandButton) sender;

        //FlashButtonAsync(lcasrsCommandButton);

        int newTemp = LowTargetTemp - 1;

        Dictionary<string, string> attributes = new Dictionary<string, string>();

        attributes.Add(lcasrsCommandButton.EntityStateAttributeKey, newTemp.ToString());
        attributes.Add("target_temp_high", HighTargetTemp.ToString());

        LCARS.Data.LCARSCommand.Instance.SetEntityState(lcasrsCommandButton.EntityName, lcasrsCommandButton.HAService, attributes);
    }






    private async void SetTargetTempLow_Up(object? sender, MouseEventArgs e)
    {


        LcarsHACommandButton lcasrsCommandButton = (LcarsHACommandButton) sender;

        int newTemp = LowTargetTemp + 1;

        Dictionary<string, string> attributes = new Dictionary<string, string>();

        attributes.Add(lcasrsCommandButton.EntityStateAttributeKey, newTemp.ToString());
        attributes.Add("target_temp_high", HighTargetTemp.ToString());

        LCARS.Data.LCARSCommand.Instance.SetEntityState(lcasrsCommandButton.EntityName, lcasrsCommandButton.HAService, attributes);
    }

    private async void SetTargetTempHigh_Up(object? sender, MouseEventArgs e)
    {
        LcarsHACommandButton lcasrsCommandButton = (LcarsHACommandButton)sender;

        int newTemp = HighTargetTemp + 1;

        Dictionary<string, string> attributes = new Dictionary<string, string>();

        attributes.Add(lcasrsCommandButton.EntityStateAttributeKey, newTemp.ToString());
        attributes.Add("target_temp_low", LowTargetTemp.ToString());

        LCARS.Data.LCARSCommand.Instance.SetEntityState(lcasrsCommandButton.EntityName, lcasrsCommandButton.HAService, attributes);
    }

    private void SetTargetTempHigh_Down(object? sender, MouseEventArgs e)
    {
        LcarsHACommandButton lcasrsCommandButton = (LcarsHACommandButton)sender;

        int newTemp = HighTargetTemp - 1;

        Dictionary<string, string> attributes = new Dictionary<string, string>();

        attributes.Add(lcasrsCommandButton.EntityStateAttributeKey, newTemp.ToString());
        attributes.Add("target_temp_low", LowTargetTemp.ToString());

        LCARS.Data.LCARSCommand.Instance.SetEntityState(lcasrsCommandButton.EntityName, lcasrsCommandButton.HAService, attributes);
    }

}