﻿.HVACControls 
{
    /*position: absolute;
    left: 136px;
    top: 175px;
    color: rgb(74,115, 131);*/

}

#CurrentTemp {
    position: absolute;
    left: 35px;
    top: 0px;
}


#HighTemp {
    position: absolute;
    top: 4px;
    left: 301px;
}


#LowTemp {
    position: absolute;
    left: 304px;
    top: 121px;
}

#SystemStatus {
    position: absolute;
    top: 264px;
    left: 28px;
}

#CurrentHumidity {
    position: absolute;
    top: 27px;
    left: 449px
}

#SystemMode {
    position: absolute;
    top: 264px;
    left: 451px;
}


.ClimateCommandGroup, .ClimateLabel {
    float: left;
}

::deep .ClimateCommand .Command {
    height: 30px;
}

::deep .ClimateCommand .Label{
    font-size: 1.1em;
    text-align: right;
}

::deep .CurrentTempValue {
    font-size: 10em;
}

::deep .Value {
    font-size: 4em;
}


::deep .CurrentTempLabel {
    font-size: 3em;
    line-height: .1em;
}



::deep .Label {
    font-size: 2.0em;
    line-height: .1em;
}