﻿@inject IJSRuntime js

<object type="image/svg+xml" data="./lcarsresources/DimmerElbow.svg"></object>

<div class="Header">DIM</div>

<div id="Dimmer">

    <div id="DimLevelDisplay">

        <div class="MeterMask"></div>
        <ul class="Meter">

            @for (int i = 1; i <= NumTicks; i++)
            {
                if (i <= MaxTicks)
                {
                    <li class="MeterTickMask"></li>
                    <li class="MeterTick"></li>
                }
            }
        </ul>

    </div>
    <div id="DimControls">
        @*THIS IS WHERE YOU WERE.  LOOK AT THE PRIMARY CONTROLS razor file and make these work like they do*@
        @*<div id="DimUp" class="Up Command @this.ButtonState" @onclick="IncrementLevel" @onmousedown="MakeActive" @onmouseup="MakeInactive"></div>
        <div id="DimDown" class="Down Command @this.ButtonState" @onclick="DecrementLevel"></div>*@
    </div>
</div>





    <!-- TODO TURN LIST OF DIVS INTO LIST ITEMS-->

<div id="DimPreselect" class="SectionControls Flex">

    @foreach (LCARSButton lcarsButton in LCARSButtons)
    {
        <div class="Command @lcarsButton.ButtonState">
            <div class="Label">@lcarsButton.Label</div>
        </div>
    }

</div>




    @code {


        //tick formula

        //=F2/($B$2/$C$2)

        //CURRENT SETTING/(MAXSETTING/TOTALTICKS) = Numticks

        //#f2e090;  top

        //#b6a86c;   bottom

        //[CascadingParameter]
        //protected LCARSButtonGroup primaryButtonGroup { get; set; }  //why does this need to be status

        int NumTicks = 10;
        int MaxTicks = 46;

        List<LcarsHACommandButton> LCARSButtons = new DimmingButtonGroup().LCARSButtons;

        protected override async Task OnParametersSetAsync()
        {
            //if (primaryButtonGroup != null)
            //{

            LCARS.Data.LCARSCommand.Instance.EntityStateChanged += UpdateButtonState;  //TODO make sure this is not registerd more than once
        }

        public void UpdateButtonState(object sender, EventArgs e)
        {
            try
            {

                //LCARS.Data.LCARSEntityStateChangedEventArgs args1 = (LCARS.Data.LCARSEntityStateChangedEventArgs)e;

                //List<LCARSButton> affectedButtons = LCARSButtonGroups.SelectMany(x => x.LCARSButtons).Where(y => y.EntityName == args1.EntityId).ToList();

                //affectedButtons.Where(x => x.Command == args1.OldState.ToUpper()).ToList().ForEach(y => y.ButtonState = ButtonState.Inactive);
                //affectedButtons.Where(x => x.Command == args1.NewState.ToUpper()).ToList().ForEach(y => y.ButtonState = ButtonState.Active);

                InvokeAsync(() => StateHasChanged());
            }
            catch (Exception ex)
            {
                var i = 0;
            }

            //InvokeAsync(() => StateHasChanged());
        }


        async Task ProcessCommand(MouseEventArgs e, string entityName, string command)
        {
            //bool lightOn = command == "ON" ? true : false;

            //LCARS.Data.LCARSCommand.Instance.SetLightState(entityName, lightOn);

        }


        async Task PlayAudioFile()
        {

            await js.InvokeVoidAsync("PlayAudioFile", "/lcarsresources/sounds/execute.mp3");

        }

        private void IncrementLevel()
        {
            if (NumTicks < MaxTicks)
            {
                NumTicks++;
                InvokeAsync(() => StateHasChanged());
            }

        }


        private void DecrementLevel()
        {
            if (NumTicks > 0)
            {
                NumTicks--;
                InvokeAsync(() => StateHasChanged());
            }
        }


        private void MakeActive(MouseEventArgs e)
        {

        }

        private void MakeInactive(MouseEventArgs e)
        {
           
        }

    }

