﻿
@using System.Runtime.CompilerServices
@using System.Reflection.Emit
@using System.Diagnostics
@inherits LCARS.Shared.LcarsHACommandButton

<div>
    @if(LabelFirst)
    {
        <div class="@LabelCSSClass"> @Label </div>
        <div class="@ValueCSSClass"> @Value </div>
    }
    else
    {
        <div class="@ValueCSSClass"> @Value </div>
        <div class="@LabelCSSClass"> @Label </div>
    }
</div>

@code {


    [Parameter]
    public string Value { get; set; }


        [Parameter]
        public bool LabelFirst { get; set; } = false;

        [Parameter]
        public string LabelCSSClass { get; set; } = "Label";

        [Parameter]
        public string ValueCSSClass { get; set; } = "Value";

        [Parameter]
        public EventCallback<string> ValueUpdated { get; set; }

      


    //[Parameter]
    //public string Test { get; set; }


    protected override Task OnInitializedAsync()
    {

        LCARS.Data.LCARSCommand.Instance.EntityStateChanged += InstanceOnEntityStateChanged;
        return base.OnInitializedAsync();
    }

    

    private void InstanceOnEntityStateChanged(object? sender, EventArgs e)
    {
        LCARS.Data.LCARSEntityStateChangedEventArgs args1 = (LCARS.Data.LCARSEntityStateChangedEventArgs)e;

        if (args1.EntityId == this.EntityName)
        {
            try
            {

                if (this.Value != args1.NewState && string.IsNullOrEmpty(this.EntityStateAttributeKey))
                {
                    string name = this.EntityName;
                    string newValue = args1.NewState;
                    this.Value = newValue;
                    //Debug.WriteLine($"{this.Label} set to {newValue}");
                    //Debug.WriteLine($"Read value {this.Value}");
                    InvokeAsync(() => ValueUpdated.InvokeAsync(this.Value));
                    InvokeAsync(StateHasChanged);
                    //StateHasChanged();
                }

                else if (!string.IsNullOrEmpty(this.EntityStateAttributeKey) && this.Value != args1.NewAttributes[this.EntityStateAttributeKey])
                {
                    string name = this.EntityName;
                    string newValue = args1.NewAttributes[this.EntityStateAttributeKey].ToString();

                    if (this.Label == "HEAT TO")
                    {
                        Debug.WriteLine($"New value {newValue}");
                    }

                    this.Value = newValue;

                    if (this.Label == "HEAT TO")
                    {
                        Debug.WriteLine($"{this.Label} set to {newValue}");
                    }

                    if (this.Label == "HEAT TO")
                    {
                        Debug.WriteLine($"Read value {this.Value}");
                    }

                    InvokeAsync(() =>
                    {
                        Value = newValue;
                        ValueUpdated.InvokeAsync(newValue);
                        StateHasChanged();
                    });

                        //InvokeAsync(() => ValueUpdated.InvokeAsync(newValue));

                       // InvokeAsync(() =>  Value = newValue; StateHasChanged());

                        

                        // StateHasChanged();
                    }
                }
            catch (Exception ex)
            {
                Console.WriteLine($"{this.GetType()} Error processing state change for {args1.EntityId} {ex.Message}");
                throw;
            }
        }
    }
}