﻿@namespace LCARS.Shared
@inherits LCARS.Shared.LCARSControl

@inject IJSRuntime js

<div class="Command @ButtonState @ButtonPressed" @onclick="ProcessClick">
    <div class="Label">@Label</div>
</div>


@code {



    //[Parameter]
    //public ButtonState ButtonState { get; set; }

    //[Parameter]
    //public string Name { get; set; }

    //[Parameter]
    //public string Command { get; set; }


}