﻿@inherits LayoutComponentBase
@inject IJSRuntime js
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject NavigationManager NavManager

@using System.Diagnostics;
@using System.Diagnostics.CodeAnalysis
@using Microsoft.AspNetCore.DataProtection.Repositories



<!-- THIS IS THE MAIN LCARS LAYOUT-->

<div id="divMain">

    <object type="image/svg+xml" data="./lcarsresources/Borders3.svg"></object>

    <div id="MainTitle" class="PositionedElement">@MainTitle</div>



    <CascadingValue Value="Location">
        <div id="LocationData" class="Subtitle PositionedElement">
            <LocationLabel></LocationLabel>
        </div>
    </CascadingValue>

    <div id="ModeGroup" class="PrimaryControls">
        <ModeSelect></ModeSelect>
    </div>

    <CascadingValue Value="Location">
        <div id="DefaultControls" class="PrimaryControls">
            <PrimaryControls></PrimaryControls>
        </div>
    </CascadingValue>
    
    <CascadingValue Value="LCARSPageLoaded">
        <div id="FunctionControls">
            @Body  <!--todo : make this a CSS object on the main page, then have the controls live inside-->
        </div>
    </CascadingValue>

    @*<div id="DimmerControls" class="SecondaryControls">
            <DimmerControls></DimmerControls>
        </div>*@

</div>

@if (debug == true)
{
    <div id="debug">
        1.2
        WS State: @LCARS.Data.LCARSCommand.Instance.ws.State <br />
        WS Auth: @LCARS.Data.LCARSCommand.Instance.Authenticated <br />
        Config: @Configuration["LCARSConfig:ConfigFile"]<br />
        Second: @Configuration["LCARSConfig2:ConfigFile2"]<br />
        @((MarkupString) dbstr)
    </div>
}






@code {

    private bool debug = true;

    public string MainTitle;

    private Location Location = new Location("Livingroom", 1);

    public string dbstr = "";


    //do this to prevent the code oninitalized code from running twice
    //https://docs.microsoft.com/en-us/aspnet/core/blazor/components/lifecycle?view=aspnetcore-3.1#stateful-reconnection-after-prerendering

    // EventCallback LCARSPageLoaded => EventCallback.Factory.Create<string>(this, ChangeTitle);

    EventCallback<string> LCARSPageLoaded => EventCallback.Factory.Create<string>(this, ChangeTitle);


    private Task ChangeTitle(string title)
    {
        MainTitle = title.ToUpper();
        return Task.CompletedTask;

    }


    protected override void OnInitialized()
    {
        // Subscribe to the event
        NavManager.LocationChanged += LocationChanged;
        base.OnInitialized();
    }

    private void LocationChanged(object? sender, LocationChangedEventArgs e)
    {
        LCARS.Data.LCARSCommand.Instance.GetStates();

        js.InvokeVoidAsync("PlayAudioFile", "/lcarsresources/sounds/execute.mp3");

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)   //layout
        {
            //MainTitle = Location.MainTitle.ToUpper();
            //MainTitle = Body.
            RegisterHandlers();  //this is debug only



            Debug.WriteLine("GetStates Called");
            LCARS.Data.LCARSCommand.Instance.GetStates();  //sendcommand
                                                           //Debug.WriteLine("SubScribe Called");



            //LCARS.Data.LCARSCommand.Instance.Subscribe();  //sendcommand



            //InvokeAsync(() => StateHasChanged());
        }
    }
}

@functions
{
    public void RegisterHandlers()
    {

       


        //this doesn't do anything but make the command stream visiable for debugging
        LCARS.Data.LCARSCommand.Instance.MessageChanged += (sender, e) =>
        {
            LCARS.Data.LCARSMessageEventArgs args1 = (LCARS.Data.LCARSMessageEventArgs)e;

        //this.dbstr = "hi";
        //MarkupString newData = (MarkupString) args1.Message + "<br />";

        try
            {
            //this.dbstr = this.dbstr + (args1.IsReceived ? "Received: " : "Sent: ") + args1.Message + "<br />";
            //InvokeAsync(() => StateHasChanged());

            Newtonsoft.Json.Linq.JObject rxJson = Newtonsoft.Json.Linq.JObject.Parse(args1.Message);

                string rxType = (string)rxJson["type"];
                string entityid = (string)rxJson["event"]?["data"]?["entity_id"] ?? string.Empty;

                string newMessage = string.Empty;

                if ((rxType == "result" || rxType == "event") && (entityid == "light.living_room_fan_light" || entityid == "fan.living_room_fan"))  //todo: this needs to get the entity name from somewhere else
            {
                    newMessage = (args1.IsReceived ? "RX: " : "TX: ") + rxJson.ToString(Newtonsoft.Json.Formatting.Indented);


                    dbstr = dbstr.Substring(0, Math.Min(dbstr.Length, 1000)).Insert(0, newMessage) + " += <br />";
                    js.InvokeVoidAsync("PlayAudioFile", "/lcarsresources/sounds/computer_work_beep.mp3");  //todo: this is the thing that makes the main noise, it needs to go somewhere else
                InvokeAsync(() => StateHasChanged());
                }
            }
            catch (Exception ex)
            {
                string message = ex.Message;
                var i = 0;
            }
        };


        LCARS.Data.LCARSCommand.Instance.AuthenticatedChanged += (sender, e) =>
        {
            LCARS.Data.LCARSAuthEventArgs args = (LCARS.Data.LCARSAuthEventArgs)e;

            if (args.IsAuthorized)
            {
                js.InvokeVoidAsync("PlayAudioFile", "/lcarsresources/sounds/commandcodesverified_ep.mp3");
            }
            else
            {
                js.InvokeVoidAsync("PlayAudioFile", "/lcarsresources/sounds/computer_error.mp3");
            }

            InvokeAsync(() => StateHasChanged());
        //StateHasChanged();
    };
    }


    
}
