﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div>
    <MyThing />
</div>

<div class="main">
   

    <div class="content px-4">
        Body Start
        @Body
        Body End
    </div>
</div>
