﻿@using System.Collections.ObjectModel
@using System.Collections.Specialized
<div id="ModeHeader" class="SectionHeader">
    MODE SELECT
</div>
<div id="Modes">
    <ul>
        @*<li class="Active">HOME</li>*@
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" ActiveClass="Active" >
                <li>
                    HOME
                </li>
                </NavLink>
            <li class="Disabled">LOCATION</li>
            <li class="Disabled">TIME</li>
           
            <NavLink class="nav-link" href="HVACControls" Match="NavLinkMatch.All" ActiveClass="Active">
                <li>
                    HVAC
                </li>
            </NavLink>

            <li class="Disabled">SECURITY</li>
</ul>
</div>

@code {

    





}
