﻿@using LCARS.Shared;
@using LCARS;

@inject IJSRuntime js


@foreach (LCARSButtonGroup buttonGroup in Location.LCARSButtonGroups)
{
    <div class="SectionHeader">@buttonGroup.GroupName</div>
    <div class="SectionControls Flex">

        @foreach (var lCARSAction in buttonGroup.LCARSButtons)
        {
            LcarsHACommandButton lcarsButton = (LcarsHACommandButton)lCARSAction;

            <LcarsHACommandButton Label=@lcarsButton.Label ButtonState=@lcarsButton.ButtonState EntityState=@lcarsButton.EntityState EntityName=@lcarsButton.EntityName SendMessage=@lcarsButton.SendMessage ></LcarsHACommandButton>
        }

    </div>
}


@code {



    //todo  also make sure that the button groups are being instantiated one time, looks like they are instanting twice currently

    [CascadingParameter]
    protected Location Location { get; set; }


    protected override Task OnInitializedAsync()
    {
        Location.LCARSButtonGroups.ForEach(x => x.buttonGroupStateChanged += StateChanged);  //if any button state changes, fire the state changed event for the control razor object
        return base.OnInitializedAsync();
    }




    public void StateChanged(object sender, LCARS.Data.LCARSEntityStateChangedEventArgs e)
    {
        InvokeAsync(() => StateHasChanged());       //calling synchronously does not work//     
                                                    //StateHasChanged(true);
    }



    //async Task PlayAudioFile()  //this should be commented out
    //{

    //    await js.InvokeVoidAsync("PlayAudioFile", "/lcarsresources/sounds/execute.mp3");

    //}

}
