@font-face {
    font-family: "LCARS";
    /*src: url("./fonts/Swiss911UC.TTF");*/
	src: url("./fonts/Tungsten-Book.otf");
}


html
{
	
}


body{
	margin: 0px;
	/*border: 1px solid green;*/
	 font-family: LCARS;
	 color: rgb(69, 169, 177);
}

.Flex
{
	display:flex;
	/*outline: 2px solid blue;*/
}

#divMain {
     width: 800px;
    height: 480px;
    /* outline: 1px solid red; */
	
	/*background-image: url(/images/image.svg);*/
	/*background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/mainroom3.png");*/
    /*background-image: url(./images/mainroom3.png);*/
    background-color: rgb(7, 19, 34);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 4px;
    padding-bottom: 6px;
    box-sizing: border-box;
}

/*

#TopLeftBorder{
	width: 241px;
	height: 79px;
	border-top-left-radius: 60px;
}


#TopLeftBorder::after {
    position: absolute;
    background: rgb(7, 19, 34);
    content: "\200b";
    left: 103px;
    top: 22px;
    height: 61px;
    width: 142px;
    border-top-left-radius: 28px;
    display: inline-block;
}

*/

/*
#TopRightBorder
{
	height: 79px;
    width: 188px;
    border-top-right-radius: 64px;
}

#TopRightBorder::after {
	position: relative;
    background: rgb(7, 19, 34);
    content: "\200b";

    top: 37px;
    height: 42px;
    width: 64px;
    border-top-right-radius: 21px;
    display: inline-block;
   
}


/*#BottomLeftBorder
{
	outline: 1px solid red;
	height: 10px;
	width: 10px;
}

#RightBorder
{
	width:14px;
}



#TopBlock
{
    height: 36px;
    width: 88px;
}



.PrimaryBorder{
	background-color: rgb(69, 169, 177);
}

*/

.PositionedElement
{
	position:absolute;
}





#ModeGroup
{
	position: absolute;
	top: 82px;
}

#ModeHeader
{
	width: 96px;
	height: 17px;
	color:black;
}

#ModeGroup .SectionHeader
{
	text-align: right;
	color: black;
    font-size: 1.2em;
	margin-top: 4px;
	line-height: 17px;
	letter-spacing: -0.31px;
	padding-right: 2.55px;
	box-sizing: border-box;
}


/*All primary controls      Navigation Controls for Blazor compaitbility   */
/*.PrimaryControls*/ .Active, .PrimaryControls .Active li {
    background-color: rgb(142,193, 190);
    color: rgb(10, 53, 81);
}


.Pressed {
    background-color: white !important;
}

.PrimaryControls .Inactive, .PrimaryControls li {
    color: rgb(142,193, 190);
}

/*.PrimaryControls*/ .Inactive, #ModeGroup .SectionHeader, .PrimaryControls li {
    background-color: rgb(74,115, 131);
}

.SecondaryControls
{
    color: black;
}


.SecondaryControls .Inactive {
    background-color: #b6a86c;
}

.SecondaryControls .Active {
    background-color:#f2e090;
}


.Command .Label {
    letter-spacing: 0.2px;
    text-align: right;
    padding-right: 2px;
    padding-top: 29px;
    font-size: 1.11em;
    padding-right: 2px;
}




.Disabled
{
	background-color: rgb(10, 53, 81) !important;
    color: rgb(74, 115, 131) !important;
}

#ModeGroup .SectionHeader
{
	color: black;
}

#DefaultControls .SectionHeader
{
	color: rgb(74, 115, 131);
}


#LocationData
{	    
    text-align: right;
    left: 232px;
    top: 39px;
    width: 100px;
}

.Subtitle
{
    color: rgb(241, 166, 128);
    text-align: right;
    padding-top: 2px;
    font-size: 1.0em;
	font-size: 1.1em;
    line-height: 18px;
    letter-spacing: 0.1px;
  
}


#Interface
{
	justify-content: space-between;
}

#InterfaceOld
{
	outline: 1px solid red;
	height: 366px;
	width: 560px;
}

#DefaultControls
{
    width: 106px;
    height: 352px;
    position: absolute;
    top: 75px;
    left: 676px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    letter-spacing: -0.1px;
    /* padding-left: 0px; */
    /* margin-left: 0px; */
}


#DefaultControls .SectionHeader
{
	line-height: 26px;
    font-size: 1.9em;
    letter-spacing: -0.2px;
    padding-top: 0px;
    /* outline: 1px solid red; */
    margin-top: 9px;
	margin-bottom: 7px;
}


.SectionControls
{
	margin-left: 2px;
	flex-wrap: wrap;
}

.Command
{
	height: 49px;
    width: 47px;
    /* outline: 1px solid red; */
    margin-bottom: 3px;
    margin-right: 3px;
}



#DimmerControls {
    position: absolute;
    top: 107.7px;
    left: 514px;
    /* width: 144px; */
    /* height: 339px; */
    /* outline: 1px solid red; */
}


#DimPreselect {
    width: 50px;
    /* float: right; */
    left: 62.6px;
    position: absolute;
    top: 42px;
}


#DimmerControls .Header {
    position: absolute;
    top: -7.5px;
    left: 19.8px;
    font-size: 1.85em;
    color: #f2e090;
}

.Meter {
    padding-left: 0px;
    /* width: 49px; */
    /* width: 100%; */
    list-style-type: none;
    /* bottom: 0px; */
    /* position: absolute; */
    margin-bottom: 0px;
    margin-top: 0px;
    /* height: 100px;*/
}

.Meter li {
       /* height: 1.8px;  value from Jack, but causes pixel oscilliaton  */
       height: 2px;
}

.MeterTick {
    width: 100%;
    /* height: 2.2px; */
    /* margin-bottom: 1.47px; */
    /* position: absolute;*/
}

.MeterTickMask
{
    background-color: black;
}

.MeterMask {
    background-color: rgb(7, 19, 34);
    flex-grow: 1;
   /* outline: 1px solid red;*/
}

#MeterControls {
   outline: 1px solid red;
}

#DimControls {
    position: relative;
    top: 8px;
}

#DimControls .Command {
    height: 30px;
    margin-bottom: 6px;
}

#DimControls .Command.Up 
{
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

#DimControls .Command.Down {
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}


#Dimmer {
    position: absolute;
    top: 41.5px;
    left: 0px;
    width: 48px;
}

#DimLevelDisplay {
  
    background-image: linear-gradient(#f2e090, #b6a86c);
    /* outline: 1px solid red; */
    height: 185px;
    display: flex;
    flex-direction: column;
}
/*#DefaultControls :nth-child(1 of .SectionControls)  {
    border-top-left-radius: 8px;
	outline: 3px solid red;
}*/
    #DefaultControls .SectionControls:nth-child(2) .Command:nth-child(1), #DimPreselect .Command:nth-child(1) {
    border-top-left-radius: 8px
}

#DefaultControls .SectionControls:nth-child(2) .Command:nth-child(2), #DimPreselect .Command:nth-child(1) {
    border-top-right-radius: 8px
}


#DefaultControls .SectionControls:nth-last-child(1) .Command:nth-last-child(2), #DimPreselect .Command:nth-last-child(1) {
    border-bottom-left-radius: 8px
}


#DefaultControls .SectionControls:nth-last-child(1) .Command:nth-last-child(1), #DimPreselect .Command:nth-last-child(1) {
    border-bottom-right-radius: 8px
}


    /*

#DefaultControls .Command.TopRight {
    border-top-right-radius: 8px
}


#DefaultControls .Command.TopLeft {
    border-top-left-radius: 8px
}

#DefaultControls .Command.BottomLeft {
    border-bottom-left-radius: 8px
}

#DefaultControls .Command.BottomRight {
    border-bottom-right-radius: 8px
}

*/
    /*
nth-last-child(1)

nth-last-child(2)*/

/*    #DefaultControls .Function {
}*/


#MainTitle
{
    width: 283px;
    font-size: 3.0em;
    height: 36px;
    text-align: right;
    line-height: 35px;
    padding-right: 6px;
    box-sizing: border-box;
	top: 3px;
    left: 328px;
}


#Modes ul
{
    width: 106px;
    height: 265px;
    margin-top: 4px;
	margin-bottom:0px;
    list-style-type: none;
    list-style-position: inside;
    padding-left: 13px;
    box-sizing: border-box;
    position: relative;
}

#Modes ul li:first-child
{
    margin-top: 4.2px;
}


#Modes ul li
{
    height: 49px;
    margin-top: 5px;
    line-height: 48px;
    vertical-align: top;
    border-radius: 0px 8px 8px 0px;
    font-size: 24.0px;
    padding-left: 4px;
}


#Modes ul li:before
{
	position: absolute;
    background: inherit;
    content: "\200b";
    left: 0px;
    height: inherit;
    width: 9px;
    display: inline-block;
    margin-right: 0px;
    box-sizing: border-box;
}





/*new stuff */
    /*
#TopLeftBorder
{
	width: 325px;
}

#RightBorder
{
	width: 336px;
}

#BottomLeftBorder svg g path
{
	fill: red !important;
}




.borderContainer
{
		justify-content:space-between;
}

*/